
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.layer {
    width: 1440px;
    height: 1024px;
    background-color: #fffa31;
}

.logo {
    position: absolute;
    top: 80px;
    left: 69px;
}

.img-logo {
    width: 653px;
    height: 92px;
    object-fit: contain;
    background-color: #fffa31;
    box-shadow: 4px 5px 0 2px #ffffff;
}

.group {
    position: absolute;
    top: 270px;
    left: 720px;
}

.textarea {
    position: absolute;
    top: 250px;
    left: 69px;
    font-size: 30px;
}

.choonsik {
    position: absolute;
    top: 500px;
    left: 200px;
}

.img-choonsik {
    width: 500px;
    height: 500px;
}

.form-work-life {
    position: absolute;
    top: 144px;
    left: 103px;
}

.form-group {
    padding-bottom: 20px;
}

input {
    width: 171px;
    height: 48px;
    object-fit: contain;
    border-radius: 2px;
    color: transparent;
}

#input-worktime {
    position: relative;
    left: 31px;
}

#input-lifetime {
    position: relative;
    left: 68px;
}

#input-sleeptime {
    position: relative;
    left: 68px;
}

#btn-submit {
    display: none;
}